@font-face {
    font-family: 'WONBatang';
    src: asset-url('WONBatang.eot');
    src: asset-url('WONBatang.eot?#iefix') format('embedded-opentype'),
    asset-url('WONBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'WONDotum';
    src: asset-url('WONDotum.eot');
    src: asset-url('WONDotum.eot?#iefix') format('embedded-opentype'),
          asset-url('WONDotum.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}